<h2>Welcome to DiscogsSinatra - Your one & only album database!</h2>


<form action="/login" method="post">
  <div class="imgcontainer">
    <img src="/images/corneal-small.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
   <table>
    <tr>
      <td><label for="uname"><b>Username:</b></label></td>
      <td><input type="text" placeholder="Enter Username or Email" name="username" required></td>
      <%= errors_for(@user, :username)%>
    </tr>
    <tr>
      <td><label for="psw"><b>Password:</b></label></td>
      <td><input type="password" placeholder="Enter Password" name="password" required></td>
      <%= errors_for(@user, :password)%>
    </tr>
    <tr> 
      <td><button type="submit"><b>Login</b></button><br></td><br>
    </tr>
    <tr> 
      <a href="/register">Click here to register</a>
    </tr>
   </table>
  </div>
   
</form>