<h2>Welcome to DiscogsSinatra - The only album database you will ever need!</h2>

<table>
  <tr valign="top">
   <td> 
    <div class="imgcontainer">
    <img src="/images/album.png" alt="Avatar" class="avatar">
    </div></td>
   <td>
   <form action="/login" method="post" class="login_form">
  <div class="container">
   <table>
    <tr>
      <td><label for="uname"><b>Username:</b></label></td>
      <td><input type="text" placeholder="Enter Username or Email address" name="username" required></td>
      <%= errors_for(@user, :username)%>
    </tr>
    <tr>
      <td><label for="psw"><b>Password:</b></label></td>
      <td><input type="password" placeholder="Enter Password" name="password" required></td>
      <%= errors_for(@user, :password)%>
    </tr>
    <tr> 
      <td><button type="submit"><b>Login</b></button><br></td><br>
    </tr>
    <tr> 
      <a href="/register">Click here to register</a>
    </tr>
   </table>
  </div>
</form> 
   </td>
  </tr>
</table>

