<h2>Complete the form below to register:</h2>
<form action="/register" method="post"><br>

  <table>
    <tr>
      <td><label for="username"><b>User Name:</b></label></td>
      <td><input type ="text" placeholder="Enter the Username" name ="username" required></td>
    </tr>
    <tr>
     <td><label for="email"><b>Email Address:</b></label></td>
     <td><input type ="text" placeholder="Enter the Email" name ="email" required><%= errors_for(@user, :email)%></td>
    </tr>
    <tr>
     <td><label for="password"><b>Password:</b></label></td>
     <td><input type ="password" placeholder="Enter the Password" name ="password" required></td>
    </tr> 
    <tr>
     <td><label for="password_confirmation"><b>Repeat Password:</b></label></td>
     <td><input type ="password" placeholder="Repeat the Password" name = "password_confirmation" required><%= errors_for(@user, :password_confirmation)%></td>
    </tr> 
    <tr>
      <td><input type ="submit" value="Register"></td>
    </tr>
    </table>
       
  
  
