<h2>Welcome in your personal album repository: <%=@current_user.username%></h2>
<% if @current_user%>
<%else%>
<%="Your are not logged in!"%>
<%end%>
 <p>Click <a href="/albums">here</a> to access your albums</p>