<h2>Welcome in your personal album repository: <%=@current_user.username%></h2>
<% if @current_user%>
<%=@current_user.username%>
<%else%>
<%="Your are not logged in!"%>
<%end%>
<a href="/albums">Albums</a>