<h1>This is the Album's page.</h1>
<ul>
<%@albums.each do |album|%> 
<a href="/albums/<%=album.id%>/edit">Click to edit album</a>
<li>Album Title: <%=album.title%></li>
<br>
<li>Album Artist: <%=album.artist%></li>
<br>
<li>Album Rating: <%=album.rating%></li>
<%end%></ul>

