<h1>Insert the form to create a new instance of your model.</h1>
<form action="/albums" method="post">
<label for="title">Title:</label>
<br>
<input type ="text" name ="title">
<br>
<label for="artist">Artist:</label>
<input type ="text" name ="artist">
<br>
<label for="rating">Rating:</label>
<input type ="number" name ="rating">
<br>
<input type ="submit" value="Submit">
</form>