<h1>List of your albums can be found in here:</h1><br>

<div><b>Album Id:  </b><%=@album.id%></div><br>
<div><b>Album Title:  </b><%=@album.title%></div><br>
<div><b>Album Artist:  </b><%=@album.artist%></div><br>
<div><b>Album Rating:  </b><%=@album.rating%></div>
