<h1>This is the show page for an individual instance of your model.</h1>

<div>Album Title: <%=@album.title%></div>
<br>
<div>Album Artist: <%=@album.artist%></div>
<br>
<div>Album Rating: <%=@album.rating%></div>
